* {
    transition: all .1s ease-in;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container {
    display: block;
    width: 85%;
    margin: 0 auto;
}

.form {
    display: flex;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    padding-top: 1em;
    padding-bottom: 1em;
}

input {
    width: 75%;
    position: relative;
    left: -0.25em;
}

form img {
    width: 85px;   
}

form img:hover {
    transform: scale(1.1);
}

button {
    border-color: transparent;
    background-color: #f1f1f1;
    vertical-align: middle;
    margin: 0 auto;
    position: relative;
    left: -1em;
}

[type="search"] {
    border-color: transparent;
    background-color: #f1f1f1;
    vertical-align: middle;
    margin: 0 auto;
}

[type="search"]:active {
    border-color: transparent;
}

[placeholder] {
    font-weight: 700;
    cursor: text;
    font-size: 85px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #c2c2c2;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #c2c2c2;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #c2c2c2;
}
:-moz-placeholder { /* Firefox 18- */
  color: #c2c2c2;
}

[type="search"]:hover {
    color: #ec5a62;
}

a {
    display: inline-block;
    -webkit-align-items: center;
            align-items: center;
    text-decoration: none;
    color: #c2c2c2;
    padding-left: 1vw;
    
}

a:hover {
    color: #ec5a62;
}


.blocks {
    display: flex;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.list {
    width: 33%;
}

h2 {
    text-transform: uppercase;
    color: #c3c3c3;
    font-size: 15px;
    font-weight: 900; 
    display: flex; 
    padding-left: 40px;
}

.radius img {
    border-radius: 50%;
}

span {
    display: inline-block;
    display: flex;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #ebebed;
    width: 85%;
    height: 75px;
    margin-top: 5px;
    -webkit-align-items: center;
            align-items: center;
    font-size: 15px;
    font-weight: 600;
}

span:hover {
    background-color: #e4e4e6;
    color: #ec5a62;
}

ul {
    list-style-type: none;
}

span img {
    -webkit-align-items: center;
            align-items: center;
        padding-left: 0.4em;
}
